<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loginworks.royaldines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->

    <application
        android:name=".extras.AppOnLeaseApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/logo_back_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_not ification_icon"
            android:resource="@drawable/notif_large_icon" />

        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomePage"
            />
        <activity
            android:name=".activity.DashboardActivity"
            android:isScrollContainer="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BranchSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeMoreItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Support"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.LocationService" />
        <service android:name=".services.RegisterDeviceToken" />

        <!--FCM SERVICES-->
        <service android:name=".fcm.FBInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MYFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDL9JX88dwoIwk9rdX8nuRE944WL7rCe7A" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="47117c78f9632be565d75ee230e955ed6c8005ca" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/client_token" />
    </application>

</manifest>